body {
    background-color: #f1d3bd; /* Sand color */
}

canvas {
    background-color: #f9ecff; /* Baby blue color */
}

h1, h2, h3, h5 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}
